.container.section.profile {
    padding-top: 0rem;
}

.profile-heading {
  margin: 20px 0;
  padding-bottom: 30px;
}

.tagline {
  padding:20px 0;
  font-size: 16px;
  line-height: 1.4;
}

.avatar {
  float: right;
}

.avatar img {
  border-radius: 200px;
}

p.title.is-bold {
  font-weight: bold;
}