.panel-block-item  {
  display: inline-block;
  color: #95A5A6;
  font-weight: normal;
  padding-right: 1rem;
  font-size: 0.8rem;
}

.center-text {
  text-align: center;
  margin: auto;
}

.timestamp {
  color: #95A5A6;
  font-weight: normal;
  font-size: 0.8rem;
}