// to display the image in the search result
.searchbox-image-channel {
  width: 30px;
  height: 30px;
  display: inline;
  vertical-align: middle;
  padding-right: 5px;
}

.searchbox-image-video {
  width: 35px;
  height: 20px;
  display: inline;
  vertical-align: middle;
  padding-right: 5px;
}

.search-result-text{
  vertical-align: middle;
}